name: My first workflow

on: push #trigger

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
    - name: checkout the repo
      uses: actions/checkout@v4.3.1
    - name: welcome message
      run: echo "My Message from GH Actions"
    
    - name: List files
      run: ls 

    - name: Read file package.json
      run: cat package.json