name: My first workflow

on: push #trigger

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
    - name: checkout the repo
      uses: actions/checkout@v4.3.1
    - name: welcome message
      run: echo "My Message from GH Actions"
    - name: Upload package.json
      uses: actions/upload-artifact@v4
      with:
        name: the file
        path: package.json
    - name: Read file package.json
      run: cat package.json
  second_job:
    needs: first_job
    runs-on: ubuntu-latest
    steps:
    - name: download the file
      uses: actions/download-artifact@v5
      with:
        name: the file
    - name: Check if package.json exists
      run: file package.json